.container{
    width: 70%;
    height: 100%;
    padding: 0px;
    margin: auto;
    background-color: #fffafa; 
}
.post h1{
    font-family: 'Montserrat', sans-serif;;
}
.post {
  margin-left: 30px;
  margin-right: 30px;
}
#day{
    color: #008080;
    font-family: 'Roboto', sans-serif;
}
.content {
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 10px;
}
